export GIT_AUTHOR_NAME="Adrian PK"
export GIT_AUTHOR_EMAIL="me@adrianpk.com"

setup_git_committer() {
    git config --global user.name "$GIT_AUTHOR_NAME"
    git config --global user.email "$GIT_AUTHOR_EMAIL"
}

setup_git_committer


